/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,700');

// Mixin for include fonts
// @include font-face("ArialMT", fonts/CenturyGothic, normal, normal);

 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/icon';
@import 'core/global';
@import 'core/template';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/page';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';

// Libs
@import 'libs/slick';

// Parts
@import 'parts/header';
@import 'parts/top';
@import 'parts/follow';
@import 'parts/company';
@import 'parts/slider';
@import 'parts/getintouch';
@import 'parts/footer';
@import 'parts/career';
@import 'parts/locations';
@import 'parts/jobs';
@import 'parts/hiring';
@import 'parts/about';
@import 'parts/products';
@import 'parts/article';
@import 'parts/product';
@import 'parts/loader';
@import 'parts/contacts';

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed{
	&_duble {
		&:before,&:after {
			content: '';
			display: inline-block;
			vertical-align: bottom;
			
		}
		&:before {
			content: "< "
		}
		&:after {
			content: " >"
		}
	}
	&__wrap {
		display: inline;
	}
}
