extends template.jade

block variables
	-var pageClass = "";

block title
	title Tencoin - About us

block content

	.container_center

		// begin .breadcramb
		.breadcrumb
			li
				a(href="#")
					span.icon-house
			li.breadcrumb__separator
				span.icon-arrow
			li
				a(href="#") About us
		// end .breadcramb


		// begin .top
		.top__wrap
			.top
				.top__bg.top__bg_about
				.top__content.top__content_left About us
					//- .top__title.typed
					//- 	.typed__wrap(data-typed="About us") 
		// end .top


		.page__about

			// begin About
			.page__left
				h2.typed.block__title
					.typed__wrap(data-typed="Who we are") 
				p.sub At TenCoins we follow the 10-C rule
			.page__right
				h5 About us
				p We are constantly developing cutting-edge IT solutions to meet the needs of the new economy. The software developed by Tencoins targets the market of blockchain technologies, cryptocurrencies and other forms of the e-economy.

				p All our IT solutions combine the most modern technologies with user-friendly intuitive design. This ensures safe, convenient and unique user experience.

				p We use new technologies to promote decentralized principles of operation. We see blockchain as a technology that promotes transparency and trust and gives the control over the processes to each member.

				h3.line Our mission is to give financial freedom 

				h5 Our vision
				p We believe in creating IT solutions for global, easy and modern finance available for the many people worldwide.
			// end About