extends template.jade

block variables
	-var pageClass = "";

block title
	title Tencoin - Career

block content

	.container_center

		// begin .breadcramb
		.breadcrumb
			li
				a(href="#")
					span.icon-house
			li.breadcrumb__separator
				span.icon-arrow
			li
				a(href="#") Career
		// end .breadcramb


		// begin .top
		.top__wrap
			.top
				.top__bg.top__bg_career
				.top__content
					.top__title.typed
						.typed__wrap(data-typed="Сareer") 
		// end .top


		// begin .career
		.career

			// begin Nav tabs
			ul.career__tabs
				li.career__item
					a.career__link(href="career.html") Our principles
				li.career__item
					a.career__link(href="career__locations.html") Locations
				li.career__item
					a.career__link.active(href="#") Jobs
				li.career__item
					a.career__link(href="career-hiring.html") Hiring process
			// end Nav tabs

			// begin Tab panes
			.career__content

				.career__pane

					// begin location
					.page__left
						h2.typed.block__title
							.typed__wrap(data-typed="Jobs") 
						p.sub We strongly believe that company can become successful only through its people. At Tencoins employees are the key value and always strive to find and retain top talented people.
					.page__right

						.jobs__collapse_wrap
							.jobs__collapse_title Development team
							.jobs__collapse
								.jobs__collapse_item
									a.jobs__collapse_link.js_jobs__collapse(href="#job1") Front-End Developer (React)
										span.jobs__collapse_icon
									.jobs__collapse_content.js_jobs__content(id="job1") 
										.jobs__collapse_body
											h5 About the position
											p Tencoins is building a team of excellence that will connect young, ambitious and bold professionals, that are ready to go an extra mile to create the best products on the market. Therefore, we are looking for a talented web-developer.You will be working in a team of other developers in an open and creative environment that will allow you to fulfill your potential and develop your talent further.
											.jobs__collapse_grid.grid.grid__3
												.grid__item
													h5 Type of position
													ul.jobs__collapse_list
														li.jobs__collapse_li Full-time
														li.jobs__collapse_li Experience 3+ years
														li.jobs__collapse_li EU work contract
														li.jobs__collapse_li Relocation to Malta (fully paid by the company)
														li.jobs__collapse_li Accommodation provided
														li.jobs__collapse_li Health insurance paid by the company
														li.jobs__collapse_li Health insurance paid by the company
														li.jobs__collapse_li Salary above average to be discussed with successful candidates
														li.jobs__collapse_li Annual performance based bonus
												.grid__item
													h5 Required skills &amp; qualifications
													ul.jobs__collapse_list
														li.jobs__collapse_li Strong knowledge of React JS
														li.jobs__collapse_li 5+ years of experience in web development
														li.jobs__collapse_li Experienced in front-end web development; full-stack experience is a plus
														li.jobs__collapse_li Ability to create a user-friendly intuitive interface
														li.jobs__collapse_li Strong portfolio
														li.jobs__collapse_li Preferably interest in blockchain technologies; knowledge in the area is a plus but not a must as long as you are eager to learn
														li.jobs__collapse_li Good level of English, both spoken and written
														li.jobs__collapse_li Teamplayer and fast-learner
														li.jobs__collapse_li Ability to multitask and work under deadlines
														li.jobs__collapse_li Can-do attitude and a positive mind-set
												.grid__item
													h5 What we offer
													ul.jobs__collapse_list
														li.jobs__collapse_li You will join a fast-growing company with an ambition to become the leader on the market. You will work with top-talent developers in a young dynamic team.
														li.jobs__collapse_li We offer opportunities to learn and develop in the area of blockchain technologies. You will be able to participate in numerous international conferences and networking events.
														li.jobs__collapse_li You will add to your portfolio a major blockchain project.
														li.jobs__collapse_li Great work environment in Malta - international touristic and business center.
														li.jobs__collapse_li Our office is located in the most prestigious area at the seaside
										.jobs__collapse_btn apply for this job
								.jobs__collapse_item
									a.jobs__collapse_link.js_jobs__collapse( href="#job2") Back-End Developer (Python)
										span.jobs__collapse_icon
									.jobs__collapse_content.js_jobs__content(id="job2") 
										.jobs__collapse_body
											h5 About the position
											p Tencoins is building a team of excellence that will connect young, ambitious and bold professionals, that are ready to go an extra mile to create the best products on the market. Therefore, we are looking for a talented web-developer.You will be working in a team of other developers in an open and creative environment that will allow you to fulfill your potential and develop your talent further.
											.jobs__collapse_grid.grid.grid__3
												.grid__item
													h5 Type of position
													ul.jobs__collapse_list
														li.jobs__collapse_li Full-time
														li.jobs__collapse_li Experience 3+ years
														li.jobs__collapse_li EU work contract
														li.jobs__collapse_li Relocation to Malta (fully paid by the company)
														li.jobs__collapse_li Accommodation provided
														li.jobs__collapse_li Health insurance paid by the company
														li.jobs__collapse_li Health insurance paid by the company
														li.jobs__collapse_li Salary above average to be discussed with successful candidates
														li.jobs__collapse_li Annual performance based bonus
												.grid__item
													h5 Required skills &amp; qualifications
													ul.jobs__collapse_list
														li.jobs__collapse_li Strong knowledge of React JS
														li.jobs__collapse_li 5+ years of experience in web development
														li.jobs__collapse_li Experienced in front-end web development; full-stack experience is a plus
														li.jobs__collapse_li Ability to create a user-friendly intuitive interface
														li.jobs__collapse_li Strong portfolio
														li.jobs__collapse_li Preferably interest in blockchain technologies; knowledge in the area is a plus but not a must as long as you are eager to learn
														li.jobs__collapse_li Good level of English, both spoken and written
														li.jobs__collapse_li Teamplayer and fast-learner
														li.jobs__collapse_li Ability to multitask and work under deadlines
														li.jobs__collapse_li Can-do attitude and a positive mind-set
												.grid__item
													h5 What we offer
													ul.jobs__collapse_list
														li.jobs__collapse_li You will join a fast-growing company with an ambition to become the leader on the market. You will work with top-talent developers in a young dynamic team.
														li.jobs__collapse_li We offer opportunities to learn and develop in the area of blockchain technologies. You will be able to participate in numerous international conferences and networking events.
														li.jobs__collapse_li You will add to your portfolio a major blockchain project.
														li.jobs__collapse_li Great work environment in Malta - international touristic and business center.
														li.jobs__collapse_li Our office is located in the most prestigious area at the seaside
										.jobs__collapse_btn apply for this job
								.jobs__collapse_item
									a.jobs__collapse_link.js_jobs__collapse( href="#job3") UX Designer
										span.jobs__collapse_icon
									.jobs__collapse_content.js_jobs__content(id="job3") 
										.jobs__collapse_body
											h5 About the position
											p Tencoins is building a team of excellence that will connect young, ambitious and bold professionals, that are ready to go an extra mile to create the best products on the market. Therefore, we are looking for a talented web-developer.You will be working in a team of other developers in an open and creative environment that will allow you to fulfill your potential and develop your talent further.
											.jobs__collapse_grid.grid.grid__3
												.grid__item
													h5 Type of position
													ul.jobs__collapse_list
														li.jobs__collapse_li Full-time
														li.jobs__collapse_li Experience 3+ years
														li.jobs__collapse_li EU work contract
														li.jobs__collapse_li Relocation to Malta (fully paid by the company)
														li.jobs__collapse_li Accommodation provided
														li.jobs__collapse_li Health insurance paid by the company
														li.jobs__collapse_li Health insurance paid by the company
														li.jobs__collapse_li Salary above average to be discussed with successful candidates
														li.jobs__collapse_li Annual performance based bonus
												.grid__item
													h5 Required skills &amp; qualifications
													ul.jobs__collapse_list
														li.jobs__collapse_li Strong knowledge of React JS
														li.jobs__collapse_li 5+ years of experience in web development
														li.jobs__collapse_li Experienced in front-end web development; full-stack experience is a plus
														li.jobs__collapse_li Ability to create a user-friendly intuitive interface
														li.jobs__collapse_li Strong portfolio
														li.jobs__collapse_li Preferably interest in blockchain technologies; knowledge in the area is a plus but not a must as long as you are eager to learn
														li.jobs__collapse_li Good level of English, both spoken and written
														li.jobs__collapse_li Teamplayer and fast-learner
														li.jobs__collapse_li Ability to multitask and work under deadlines
														li.jobs__collapse_li Can-do attitude and a positive mind-set
												.grid__item
													h5 What we offer
													ul.jobs__collapse_list
														li.jobs__collapse_li You will join a fast-growing company with an ambition to become the leader on the market. You will work with top-talent developers in a young dynamic team.
														li.jobs__collapse_li We offer opportunities to learn and develop in the area of blockchain technologies. You will be able to participate in numerous international conferences and networking events.
														li.jobs__collapse_li You will add to your portfolio a major blockchain project.
														li.jobs__collapse_li Great work environment in Malta - international touristic and business center.
														li.jobs__collapse_li Our office is located in the most prestigious area at the seaside
										.jobs__collapse_btn apply for this job

						.jobs__collapse_wrap
							.jobs__collapse_title Business team
							.jobs__collapse
								.jobs__collapse_item
									a.jobs__collapse_link.js_jobs__collapse( href="#job4") Senior Accountant
										span.jobs__collapse_icon
									.jobs__collapse_content.js_jobs__content(id="job4") 
										.jobs__collapse_body
											h5 About the position
											p Tencoins is building a team of excellence that will connect young, ambitious and bold professionals, that are ready to go an extra mile to create the best products on the market. Therefore, we are looking for a talented web-developer.You will be working in a team of other developers in an open and creative environment that will allow you to fulfill your potential and develop your talent further.
											.jobs__collapse_grid.grid.grid__3
												.grid__item
													h5 Type of position
													ul.jobs__collapse_list
														li.jobs__collapse_li Full-time
														li.jobs__collapse_li Experience 3+ years
														li.jobs__collapse_li EU work contract
														li.jobs__collapse_li Relocation to Malta (fully paid by the company)
														li.jobs__collapse_li Accommodation provided
														li.jobs__collapse_li Health insurance paid by the company
														li.jobs__collapse_li Health insurance paid by the company
														li.jobs__collapse_li Salary above average to be discussed with successful candidates
														li.jobs__collapse_li Annual performance based bonus
												.grid__item
													h5 Required skills &amp; qualifications
													ul.jobs__collapse_list
														li.jobs__collapse_li Strong knowledge of React JS
														li.jobs__collapse_li 5+ years of experience in web development
														li.jobs__collapse_li Experienced in front-end web development; full-stack experience is a plus
														li.jobs__collapse_li Ability to create a user-friendly intuitive interface
														li.jobs__collapse_li Strong portfolio
														li.jobs__collapse_li Preferably interest in blockchain technologies; knowledge in the area is a plus but not a must as long as you are eager to learn
														li.jobs__collapse_li Good level of English, both spoken and written
														li.jobs__collapse_li Teamplayer and fast-learner
														li.jobs__collapse_li Ability to multitask and work under deadlines
														li.jobs__collapse_li Can-do attitude and a positive mind-set
												.grid__item
													h5 What we offer
													ul.jobs__collapse_list
														li.jobs__collapse_li You will join a fast-growing company with an ambition to become the leader on the market. You will work with top-talent developers in a young dynamic team.
														li.jobs__collapse_li We offer opportunities to learn and develop in the area of blockchain technologies. You will be able to participate in numerous international conferences and networking events.
														li.jobs__collapse_li You will add to your portfolio a major blockchain project.
														li.jobs__collapse_li Great work environment in Malta - international touristic and business center.
														li.jobs__collapse_li Our office is located in the most prestigious area at the seaside
										.jobs__collapse_btn apply for this job
					// end location
			// end Tab panes

		// end .career  