extends template.jade

block variables
	-var home = true;
	-var pageClass = "";

block title
	title Tencoin - Home

block content

	.container_center

		// begin .top
		.top__wrap
			.top.top__big
				.top__slider
					.top__slider_item(style="background-image: url('img/top/top_img1.jpg');")
					.top__slider_item(style="background-image: url('img/top/top_img1_1.jpg');")
					.top__slider_item(style="background-image: url('img/top/top_img1_2.png');")
						
				.top__content
					.top__h Developing the future
					.top__sub Software solution for 
						a.top__sub_link.typed.typed_duble(href="#")
							span.typed__wrap(data-typed="fintech")
		// end .top


		// begin .follow
		.follow
			p.follow__p Follow Tencoins
			ul.follow__soc
				li.follow__soc_item
					a.follow__soc_link(href="#")
						span.icon-m.follow__soc_icon
				li.follow__soc_item
					a.follow__soc_link(href="#")
						span.icon-facebook.follow__soc_icon
				li.follow__soc_item
					a.follow__soc_link(href="#")
						span.icon-twitter.follow__soc_icon
				li.follow__soc_item
					a.follow__soc_link(href="#")
						span.icon-instagram.follow__soc_icon
		// end .follow


		// begin .company
		.company
			.company__left
				h2.typed.block__title
					span.typed__wrap(data-typed="Сompany") 
				p.sub Tencoins is an international IT company that specializes in Internet-related services and products, which include trading, payment and gambling platforms.

				h5 Our solution can be interested for

				ul.company__interest
					li.company__interest_item
						.company__interest_number 01
						.company__interest_info people who are just starting to discover cryptocurrencies
					li.company__interest_item
						.company__interest_number 02
						.company__interest_info professional and amateur traders
					li.company__interest_item
						.company__interest_number 03
						.company__interest_info people interested in blockchain technologies
					li.company__interest_item
						.company__interest_number 04
						.company__interest_info investors
					li.company__interest_item
						.company__interest_number 05
						.company__interest_info various projects using cryptocurrencies

			.company__right
				.company__right_title Our key area of expertise is
				a.company__right_link.typed.typed_duble(href="#")
					span.typed__wrap(data-typed="developing software solutions ") 
				.company__right_texttext for the new e-economy, including cryptocurrency market
				.company__right_down
		// end .company


	// begin .slider
	.slider__bg
		.slider
			.slider__left
				h2.slider__title.typed.block__title
					span.typed__wrap(data-typed="Products") 
				p.sub See our current products
				.slider__arrows
					a.slider__arrow.js-slider__prev(href="#")
						span.icon-slide_prev
					a.slider__arrow.js-slider__next(href="#")
						span.icon-slide_next

			.slider__right
				.slider__home_wrap
					.slider__home.js-slider__home
						.js-slide
							a.slider__home_item(href="#")
								.slider__home_img
									img(src="img/products/product1.jpg", alt="")
								.slider__home_title P2P exchange platform
						.js-slide
							a.slider__home_item(href="#")
								.slider__home_img
									img(src="img/products/product2.jpg", alt="")
								.slider__home_title Announcement Q1 2019
						.js-slide
							a.slider__home_item(href="#")
								.slider__home_img
									img(src="img/products/product3.jpg", alt="")
								.slider__home_title Announcement Q3 2019
						.js-slide
							a.slider__home_item(href="#")
								.slider__home_img
									img(src="img/products/product1.jpg", alt="")
								.slider__home_title P2P exchange platform
						.js-slide
							a.slider__home_item(href="#")
								.slider__home_img
									img(src="img/products/product2.jpg", alt="")
								.slider__home_title Announcement Q1 2019
						.js-slide
							a.slider__home_item(href="#")
								.slider__home_img
									img(src="img/products/product3.jpg", alt="")
								.slider__home_title Announcement Q3 2019
	// end .slider

	
	.container_center

		// begin .slider
		.slider.slider__news
			.slider__left
				h2.slider__title.typed.block__title
					span.typed__wrap(data-typed="News") 
				p.sub Read our last news
				.slider__arrows
					a.slider__arrow.js-slider__news_prev(href="#")
						span.icon-slide_prev
					a.slider__arrow.js-slider__news_next(href="#")
						span.icon-slide_next

			.slider__right
				.slider__home_wrap
					.slider__home.js-slider__news
						.js-slide
							.slider__home_item
								a(href="#")
									.slider__home_img
										img(src="img/news/news1.jpg", alt="")
								.slider__news_info
									span.slider__news_info_date
										span.icon-calendar
										|12.04.18
									span.slider__news_info_eye
										span.icon-eye
										|15
								a.slider__home_title.slider__news_title(href="#") A Brief History of Money from Barter to Bitcoin
								p.slider__news_text We use money almost every day of our lives but have you ever wondered what it is or why we have it?
								a.slider__news_btn.btn(href="#") More
						.js-slide
							.slider__home_item
								a(href="#")
									.slider__home_img
										img(src="img/news/news2.jpg", alt="")
								.slider__news_info
									span.slider__news_info_date
										span.icon-calendar
										|12.04.18
									span.slider__news_info_eye
										span.icon-eye
										|15
								a.slider__home_title.slider__news_title(href="#") How Have Cryptocurrencies Affected Global Finance? 
								p.slider__news_text Cryptocurrencies are still in their infancy, however, they have already managed to have a significant impact on global finance
								a.slider__news_btn.btn(href="#") More
						.js-slide
							.slider__home_item
								a(href="#")
									.slider__home_img
										img(src="img/news/news3.jpg", alt="")
								.slider__news_info
									span.slider__news_info_date
										span.icon-calendar
										|12.04.18
									span.slider__news_info_eye
										span.icon-eye
										|15
								a.slider__home_title.slider__news_title(href="#") Why Malta?
								p.slider__news_text Sun, sea, sand and security: Why Malta is one of the best places in the world to live and work
								a.slider__news_btn.btn(href="#") More
						.js-slide
							.slider__home_item
								a(href="#")
									.slider__home_img
										img(src="img/news/news1.jpg", alt="")
								.slider__news_info
									span.slider__news_info_date
										span.icon-calendar
										|12.04.18
									span.slider__news_info_eye
										span.icon-eye
										|15
								a.slider__home_title.slider__news_title(href="#") A Brief History of Money from Barter to Bitcoin
								p.slider__news_text We use money almost every day of our lives but have you ever wondered what it is or why we have it?
								a.slider__news_btn.btn(href="#") More
						.js-slide
							.slider__home_item
								a(href="#")
									.slider__home_img
										img(src="img/news/news2.jpg", alt="")
								.slider__news_info
									span.slider__news_info_date
										span.icon-calendar
										|12.04.18
									span.slider__news_info_eye
										span.icon-eye
										|15
								a.slider__home_title.slider__news_title(href="#") How Have Cryptocurrencies Affected Global Finance? 
								p.slider__news_text Cryptocurrencies are still in their infancy, however, they have already managed to have a significant impact on global finance
								a.slider__news_btn.btn(href="#") More
						.js-slide
							.slider__home_item
								a(href="#")
									.slider__home_img
										img(src="img/news/news3.jpg", alt="")
								.slider__news_info
									span.slider__news_info_date
										span.icon-calendar
										|12.04.18
									span.slider__news_info_eye
										span.icon-eye
										|15
								a.slider__home_title.slider__news_title(href="#") Why Malta?
								p.slider__news_text Sun, sea, sand and security: Why Malta is one of the best places in the world to live and work
								a.slider__news_btn.btn(href="#") More
		// end .slider


	// begin .getintouch
	.getintouch__wrap
		.getintouch
			.getintouch__left
				h2.getintouch__left_title.typed.block__title
					.typed__wrap(data-typed="Get in touch") 
				.getintouch__left_contacts
					.getintouch__left_row
						.getintouch__left_row_par Phone:
						.getintouch__left_row_value +7 586 969 6363
					.getintouch__left_row
						.getintouch__left_row_par E-mail:
						.getintouch__left_row_value support@tencoins.org
					.getintouch__left_row
						.getintouch__left_row_par Address:
						.getintouch__left_row_value Tencoins Ltd, 75 Triq I-Abate Rigord Level 2, Ta’ Xbiex XBX 1102 Malta
					.getintouch__left_row
						.getintouch__left_row_par Telegram:
						.getintouch__left_row_value @tencoins_org
					.getintouch__left_row.last
						.getintouch__left_row_par Follow us:
						.getintouch__left_row_value
							ul.follow__soc.getintouch__soc
								li.follow__soc_item
									a.follow__soc_link(href="#")
										span.icon-m.getintouch__soc_icon
								li.follow__soc_item
									a.follow__soc_link(href="#")
										span.icon-facebook.getintouch__soc_icon
								li.follow__soc_item
									a.follow__soc_link(href="#")
										span.icon-twitter.getintouch__soc_icon
								li.follow__soc_item
									a.follow__soc_link(href="#")
										span.icon-instagram.getintouch__soc_icon
			.getintouch__form
				.getintouch__form_list.grid.grid__2
					.form__row.getintouch__form_row
						input.getintouch__form_input(type="text", id="f1")
						label.form__label(for="f1") Name
					.form__row.getintouch__form_row
						input.getintouch__form_input(type="text", id="f4")
						label.form__label(for="f4") Surname
					.form__row.getintouch__form_row
						input.getintouch__form_input(type="tel", id="f2")
						label.form__label(for="f2") Phone
					.form__row.getintouch__form_row
						input.getintouch__form_input(type="email", id="f5")
						label.form__label(for="f5") E-mail
					.form__row.getintouch__form_row
						textarea.getintouch__form_textarea(id="f3")
						label.form__label(for="f3") Your message
					.form__row.getintouch__form_row
						button.getintouch__form_btn.btn Send
	// end .getintouch
