extends template.jade

block variables
	-var pageClass = "";

block title
	title Tencoin - News

block content

	.container_center

		// begin .breadcramb
		.breadcrumb
			li
				a(href="#")
					span.icon-house
			li.breadcrumb__separator
				span.icon-arrow
			li
				a(href="#") News
		// end .breadcramb


		// begin .top
		.top__wrap
			.top
				.top__bg.top__bg_news
				.top__content
					.top__title.typed
						.typed__wrap(data-typed="News") 
		// end .top

		// begin news
		.products__wrap
			.products.grid.grid__2
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news4.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") Why Malta?
					p.slider__news_text There are a lot of reasons why Malta is one of the best places in the world to live and work. If you have ever dreamed of living in an island paradise with sun-drenched beaches and margaritas by the poolside, then Malta has all that and much, much more, as it continues to rise through the ranks as one of the world’s top places to start a new life.
					a.slider__news_btn.btn(href="#") More
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news5.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") How Have Cryptocurrencies Affected Global Finance? 
					p.slider__news_text Cryptocurrencies are still in their infancy, however, they have already managed to have a significant impact on global finance, but probably not in the way that most people would think. The initial idea behind the advent of cryptocurrencies was to create a standard currency which could be traded between people of all nations, digitally. 
					a.slider__news_btn.btn(href="#") More

			.products.grid.grid__4
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news1.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") A Brief History of Money from Barter to Bitcoin
					p.slider__news_text We use money almost every day of our lives but have you ever wondered what it is or why we have it?
					a.slider__news_btn.btn(href="#") More
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news2.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") How Have Cryptocurrencies Affected Global Finance? 
					p.slider__news_text Cryptocurrencies are still in their infancy, however, they have already managed to have a significant impact on global finance
					a.slider__news_btn.btn(href="#") More
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news3.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") Why Malta?
					p.slider__news_text Sun, sea, sand and security: Why Malta is one of the best places in the world to live and work
					a.slider__news_btn.btn(href="#") More
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news1.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") A Brief History of Money from Barter to Bitcoin
					p.slider__news_text We use money almost every day of our lives but have you ever wondered what it is or why we have it?
					a.slider__news_btn.btn(href="#") More

			.products.grid.grid__2
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news4.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") Why Malta?
					p.slider__news_text There are a lot of reasons why Malta is one of the best places in the world to live and work. If you have ever dreamed of living in an island paradise with sun-drenched beaches and margaritas by the poolside, then Malta has all that and much, much more, as it continues to rise through the ranks as one of the world’s top places to start a new life.
					a.slider__news_btn.btn(href="#") More
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news5.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") How Have Cryptocurrencies Affected Global Finance? 
					p.slider__news_text Cryptocurrencies are still in their infancy, however, they have already managed to have a significant impact on global finance, but probably not in the way that most people would think. The initial idea behind the advent of cryptocurrencies was to create a standard currency which could be traded between people of all nations, digitally. 
					a.slider__news_btn.btn(href="#") More

			.products.grid.grid__4
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news1.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") A Brief History of Money from Barter to Bitcoin
					p.slider__news_text We use money almost every day of our lives but have you ever wondered what it is or why we have it?
					a.slider__news_btn.btn(href="#") More
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news2.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") How Have Cryptocurrencies Affected Global Finance? 
					p.slider__news_text Cryptocurrencies are still in their infancy, however, they have already managed to have a significant impact on global finance
					a.slider__news_btn.btn(href="#") More
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news3.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") Why Malta?
					p.slider__news_text Sun, sea, sand and security: Why Malta is one of the best places in the world to live and work
					a.slider__news_btn.btn(href="#") More
				.products__item
					a(href="#")
						.slider__home_img
							img(src="img/news/news1.jpg", alt="")
					.slider__news_info
						span.slider__news_info_date
							span.icon-calendar
							|12.04.18
						span.slider__news_info_eye
							span.icon-eye
							|15
					a.slider__home_title.slider__news_title(href="#") A Brief History of Money from Barter to Bitcoin
					p.slider__news_text We use money almost every day of our lives but have you ever wondered what it is or why we have it?
					a.slider__news_btn.btn(href="#") More
		
			// begin pagination
			ul.pagination
				li.prev
					a(href="#")
						span.icon-slide_prev
				li.active
					a(href="#") 1
				li
					a(href="#") 2
				li
					a(href="#") 3
				li ...
				li
					a(href="#") 9
				li.next
					a(href="#")
						span.icon-slide_next
			// end pagination

		// end news
