extends template.jade

block variables
	-var pageClass = "";

block title
	title Tencoin - Products

block content

	.container_center

		// begin .breadcramb
		.breadcrumb
			li
				a(href="#")
					span.icon-house
			li.breadcrumb__separator
				span.icon-arrow
			li
				a(href="#") Products
		// end .breadcramb


		// begin .top
		.top__wrap
			.top
				.top__bg.top__bg_products
				.top__content.top__content_left Products
					//- .top__title.typed
					//- 	.typed__wrap(data-typed="Products") 
		// end .top

		// begin Products
		.products__wrap
			.products.grid.grid__4
				.products__item
					a.products__link(href="#")
						.products__img
							img(src="img/products/product1.jpg", alt="")
						.slider__home_title.products__title P2P exchange platform
				.products__item
					a.products__link(href="#")
						.products__img
							img(src="img/products/product2.jpg", alt="")
						.slider__home_title.products__title Announcement Q1 2019
				.products__item
					a.products__link(href="#")
						.products__img
							img(src="img/products/product3.jpg", alt="")
						.slider__home_title.products__title Announcement Q3 2019
				.products__item
					a.products__link(href="#")
						.products__img
							img(src="img/products/product1.jpg", alt="")
						.slider__home_title.products__title P2P exchange platform
		// end Products