$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-instagram: "\e90e";
$icon-telegram: "\e90d";
$icon-arrow: "\e900";
$icon-calendar: "\e901";
$icon-dropdown: "\e902";
$icon-eye: "\e903";
$icon-facebook: "\e904";
$icon-house: "\e905";
$icon-linkedin: "\e906";
$icon-m: "\e907";
$icon-minus: "\e908";
$icon-play: "\e909";
$icon-plus: "\e90a";
$icon-slide_next: "\e90b";
$icon-slide_prev: "\e90c";
$icon-twitter: "\e90f";


@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?7en0z8');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?7en0z8#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?7en0z8') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?7en0z8') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?7en0z8##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-arrow {
  &:before {
    content: $icon-arrow; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-dropdown {
  &:before {
    content: $icon-dropdown; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-house {
  &:before {
    content: $icon-house; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-m {
  &:before {
    content: $icon-m; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-slide_next {
  &:before {
    content: $icon-slide_next; 
  }
}
.icon-slide_prev {
  &:before {
    content: $icon-slide_prev; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}

.icon-facebook {
  color: #3A559F;
}
.icon-m {
  color: #000;
}
.icon-twitter {
  color: #50ABF5;
}
.icon-arrow {
  color: #BCBCBC;
}
.icon-play {
  color: $color_primary;
}
.icon-telegram {
  color: #61A8DE;
}
.icon-linkedin {
  color: #0077B7;
}
.icon-instagram {
  color: #C536A4;
  background: linear-gradient(194.64deg, #6027CB 5.04%, #BB1776 26.52%, #EF5332 46.59%, #F28633 68.43%, #FBDE82 89.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}