// Pagination ==================================================================
.pagination {
	margin: 25px 0;
	padding: 0;
	text-align: center;
	li {
		margin-left: 1.25em;
		display: inline-block;
		&.active {
			a {
				color: $color_primary;
			}
		}
		a {
			display: block;
			color: #808080;
			font-weight: 500;
			text-align: center;
			&:hover {
				text-decoration: none;
				color: $color_primary;
			}
		}
		&.prev, &.next {
			a {
				&:before {					
				}
			}
		}
		&.prev {
			margin-left: 0;
			margin-right: 0.5em;
		}
		&.next {
			margin-left: 2em;
		}
		&.prev,
		&.next {
			position: relative;
			top: 0.8em;
			a {
				color: #B2B2B2;
				font-size: 2.5em;
				&:hover {
					color: #B2B2B2;
					opacity: 0.7;
				}
			}
		}
	}
	@media (max-width: 767px) {
		margin: 0;
	}
}
