// begin footer 
footer.footer
	.container_center
		.footer__left
			a.footer__logo(href="/")
				img(src="img/logo2.svg", alt="")
		.footer__right
			.footer__copyright 2018 &copy; All rights reserved
			ul.footer__rules
				li.footer__rules_item
					a.footer__rules_link(href="#")  Terms of use
				li.footer__rules_item
					a.footer__rules_link(href="#") Privacy
// end footer 