/* Article
-------------------------------------------------------------------------------*/
.page__article {
	padding-top: 1em;
	padding-bottom: 7em;
	@media (max-width: 991px) {
		padding-top: 2.5em;
		padding-bottom: 4em;
	}
	@media (max-width : 767px) {
		padding-top: 1em;
	}
}

.article {
	&__info {
		margin-top: 0.8em;
	}
	&__author {
		margin-bottom: 5em;
		padding-top: 1.7em;
		font-style: italic;
		border-top: 0.063em solid #e5e5e5;
	}
	
}

.share {
	margin-bottom: 7.7em;
	@media (max-width : 1024px) {
		margin-bottom: 4em;
	}
	&__p {
		position: relative;
		top: -0.5em;
		display: inline-block;
	}
	&__link {
		position: relative;
		width: 8.9em;
	    padding: 0.2em 3em 0.3em 3.2em;
		margin-left: 1.5em;
		display: inline-block;
		color: $color_white;
		cursor: pointer;
		overflow: hidden;
		text-align: center;
		&:hover {
			opacity: 0.7;
			text-decoration: none;
		}
		&:nth-child(2) {
			background-color: #3A559F;
		}
		&:nth-child(3) {
			background-color: #50ABF5;
		}
		&_icon {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0.9em;
			overflow: hidden;
			font-size: 2em;
			color: #3A559F;
			background-color: $color_white;
			border: 0;
			outline: 0;
		}
		@media (max-width : 767px) {
			margin-left: 0;
			padding: 0.4em 2.8em;
			margin-bottom: 1em;
			display: block;
		}
	}
}