/* Career
 ----------------------------------------------------------------------------- */
 .career {
 	padding-bottom: 5em;
 	@media (max-width : 767px) {
 		padding-bottom: 2em;
 	}
 	&__tabs {
 		width: 100%;
 		margin-top: 3.35em;
 		margin-bottom: 2.7em;
 		border: 0;
 		@extend %clear_a;
 		overflow: hidden;
 		@media (max-width : 1366px) {
 			width: auto;
 			margin-left: -15px;
 			margin-right: -15px;
 			margin-top: 0;
 		}
 	}
 	&__item {
 		float: left;
 		width: 25%;
 		text-align: center;
 		@media (max-width : 767px) {
			width: 100%;
 		}
 	}
 	&__link {
 		padding: 1.9em 1em;
 		display: block;
 		color: #808080;
 		font-weight: 700;
 		text-transform: uppercase;
 		text-decoration: none;
 		background-color: #f2f2f2;
		&:hover {
			text-decoration: none;
		}
		&.active,
 		&:hover {
			color: $color_white;
 			background-color: $color_primary;
 		}
		@media (max-width : 1024px) {
			padding: 15px 20px;
		}
		@media (max-width : 767px) {
			padding: 10px 20px;
			// font-size: 0.8em;
		}
 	}
 }

 .page {
 	@extend %clear_a;
 	&__left {
 		width: 25%;
 		float: left;
 		@media (max-width : 1024px) {
 			width: 100%;
 			float: none;
 		}
 	}
 	&__right {
 		overflow: hidden;
 	}
 	&__h2 {
 		position: relative;
	    top: -0.2em;
	    margin: 0.3em 0 0;
 	}
 	&__h3 {
 		position: relative;
		margin-bottom: 0.4em;
 	}
 	&__p {
 		// margin-bottom: 1.3em;
 		padding-right: 17%;
 		line-height: 1.4;
 	}
 }

 .principles {
 	margin-left: -2em;
 	margin-bottom: 3.2em;
 	@extend %clear_a;
 	&__item {
		width: 33.333%;
		float: left;
		padding-left: 2em;
		@media (max-width : 1024px) {
			width: 100%;
			float: none;
		}
 	}
 	&__number {
 		color: $color_primary;
 		font-family: "Roboto Slab";
		font-size: 2.9em;
		font-weight: 400;
		opacity: 0.1;
 	}
 	&__p {
 		margin: 0;
 		line-height: 1.33em;
 		&_bold {
 			color: $color_primary;
			font-weight: 500;
 		}
 	}
 }