/* Career
 ----------------------------------------------------------------------------- */
 .career {
 	padding-bottom: 5em;
 	@media (max-width : 767px) {
 		padding-bottom: 2em;
 		&.career__justify {
 			margin-left: -15px;
 			margin-right: -15px;
 		}
 	}
 	&__tabs {
 		width: 100%;
 		margin-top: 3.35em;
 		margin-bottom: 3.15em;
 		border: 0;
 		@extend %clear_a;
 		overflow: hidden;
 		@media (max-width : 1366px) {
 			width: auto;
 			margin-left: -15px;
 			margin-right: -15px;
 			margin-top: 0;
 		}
 	}
 	&__content {

 	}
 	&__item {
 		float: left;
 		width: 25%;
 		text-align: center;
 		@media (max-width : 767px) {
			width: 100%;
 		}
 	}
 	&__link {
 		padding: 1.9em 1em;
 		display: block;
 		color: #808080;
 		font-weight: 700;
 		text-transform: uppercase;
 		text-decoration: none;
 		background-color: #f2f2f2;
		&:hover {
			text-decoration: none;
		}
		&.active,
 		&:hover {
			color: $color_white;
 			background-color: $color_primary;
 		}
 		@media (max-width : 1199px) {
 			padding: 1.5em 1em;
 		}
		@media (max-width : 767px) {
			padding: 1em;
		}
 	}
 }

 .principles {
 	margin-left: -2em;
 	margin-bottom: 3.2em;
 	@extend %clear_a;
 	@media (max-width : 1024px) {
 		margin-bottom: 2em;
 	}
 	&__item {
		width: 33.333%;
		float: left;
		padding-left: 2em;
		@media (max-width : 1024px) {
			width: 100%;
			float: none;
			margin-bottom: 1.5em;
		}
 	}
 	&__number {
 		color: $color_primary;
 		font-family: "Roboto Slab";
		font-size: 2.9em;
		font-weight: 400;
		opacity: 0.1;
		& + p {
			margin: 0;
		}
 	}
 	&__bold {
		color: $color_primary;
		font-weight: 500;
 	}
 }