/* Get in touch
-------------------------------------------------------------------------------*/
.getintouch {
	background-color: #f9f9f9;
	display: table;
	width: 100%;
	@extend %clear_a;
	@media (max-width : 1366px) {
		// padding-left: 15px;
	}
	@media (max-width : 1199px) {
		padding-left: 0;
		display: block;
	}
	&__wrap {
		padding-bottom: 3em;
	}
	&__left {
		width: 50%;
		padding-left: 7em;
		padding-top: 4.8em;
		display: table-cell;
		vertical-align: top;
		@media (max-width : 1366px) {
			padding-left: 15px;
		}
		@media (max-width : 1199px) {
			padding-top: 4em;
			padding-left: 15px;
			padding-right: 15px;
			width: auto;
			display: block;
		}
		&_title {
			width: 45%;
			float: left;
			@media (max-width : 1024px) {
				width: 100%;
				float: none;
				margin-bottom: 0.7em;
			}
		}
		&_contacts {
		    padding: 1.5em 7em 6.3em 0;
			overflow: hidden;
			@media (max-width : 1024px) {
				padding: 0 0 4em 0;
			}
		}
		&_row {
			margin-bottom: 1.28em;
			&_par {
				width: 30%;
				float: left;
				@media (max-width : 767px) {
					width: 100%;
					float: none;
					margin-bottom: 0.5em;
				}
			}
			&_value {
				overflow: hidden;
			}
			&.last {
				line-height: 1.7em;
				margin-top: 3.4em;
				margin-bottom: 0;
				@media (max-width : 1024px) {
					margin-top: 0;
				}
			}
		}
	}
	&__soc {
		position: relative;
		padding-left: 0;
		margin-left: -1.1em;
		@media (max-width : 767px) {
			margin-left: 0;
			margin-left: 0;
		}
		&_link {
			display: block;
		}
		&_icon {
			font-size: 1.7em;
		}
	}
	&__right {
		padding: 6.1em 7em 4.9em 0;
		width: 50%;
		display: table-cell;
		vertical-align: top;
		background-color: $color_primary;
		@extend %clear_a;
		@media (max-width: 1199px) {
			padding: 6.1em 7em 4.9em 3em;
			width: 100%;
			display: block;
		}
		@media (max-width: 1024px) {
			padding: 4em 15px 2em;
		}
		&_column {
			float: left;
			width: 50%;
			padding-left: 3.2em;
			&_list {
				@media (max-width : 1024px) {
					margin-left: -3.2em;
				}
				@media (max-width : 767px) {
					margin-left: 0;
				}
			}
			@media (max-width : 767px) {
				float: none;
				width: 100%;
				padding-left: 0;
			}
		}
		&_input,
		&_textarea {
			width: 100%;
			color: #fff;
			background-color: $color_primary;
			border: 0;
			border-bottom: 1px solid #fff;
		}
		&_textarea {
			height: 5.7em;
		}
		&_btn {
			width: 100%;
			margin-top: 2.6em;
			padding: 0.9em 3.5em;
			color: $color_primary;
			font-size: 1em;
			font-weight: 700;
			background-color: #fff;
			border: 1px solid transparent;
			@include border-radius(1.563em);
			&:hover {
				color: $color_white;
				background-color: $color_primary;
				border: 1px solid $color_white;
			}
			@media (max-width : 767px) {
				margin-top: 0;
			}
		}
	}
}