.product {
	width: 100%;
	padding-top: 0.6em;
	margin-bottom: 0.5em;
	&:after {
		content: '';
		clear: both;
		display: block;
	}
	&__info {
		margin-top: 0.8em;
		margin-bottom: 3em;
	}
	&__description {
		width: 50%;
		float: left;
		padding-right: 2.5%;
		@media (max-width : 1199px) {
			width: 100%;
			float: none;
			padding-right: 0;
		}
	}
	&__img {
		&_wrap {
			overflow: hidden;
		}
	}
}